{% extends 'template.html' %}

{% block body %}

<div class="div_container">
    <button class="btn_primary" onclick="location.href='/createmkp'">Create Marketplace</button>
    </br></br>
    <button class="btn_primary" onclick="location.href='/createprod'">Create Product</button>
    </br></br>
    <button class="btn_primary" onclick="location.href='/createcategory'">Create Category</button>
    </br></br>
    <button class="btn_primary" onclick="location.href='/list_marketplace'">List Marketplace</button>
    </br></br>
    <button class="btn_primary" onclick="location.href='/listprod'">List Product</button>
    </br></br>
    <button class="btn_primary" onclick="location.href='/listcategory'">List Category</button>
</div>

{% endblock %}
