################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/21.01.04/.vs/VSWorkspaceState.json
/21.01.04/.vs/slnx.sqlite

*.suo
*.sqlite

