{% extends 'template.html' %}

{% block body %}
    <ul>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Edit/Delete</th>
            </tr>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td><a href="/update_category?id={{category.id}}&name={{category.name}}&description={{category.description}}"> edit </a> 
                    <a href="/delete_category?id={{category.id}}"> delete </a> 
                    </td>
                </tr>
            {% endfor %}
        </table>
    </ul>
{% endblock %}