{% extends 'template.html' %}

{% block body %}
    <ul>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                </tr>
            {% endfor %}
        </table>
    </ul>
{% endblock %}