{% extends 'template.html' %}

{% block body %}

<table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Hour</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
        {% for l in list_log %}
        {% if 'Listed' in l.description%}
        <tr>
            <td style="background-color:#72b868">{{ l.date }}</td>
            <td style="background-color:#72b868">{{ l.hour }}</td>
            <td style="background-color:#72b868">{{ l.description }}</td>
        </tr>

        {%elif 'updated' in l.description or 'Updated' in l.description %}
        <tr>
            <td style="background-color:#20CECF"> {{ l.date }}</td>
            <td style="background-color:#20CECF">{{ l.hour }}</td>
            <td style="background-color:#20CECF">{{ l.description }}</td>
        </tr>

        {%elif 'deleted' in l.description or 'Deleted' in l.description %}
        <tr>
            <td style="background-color:#E44C4C"> {{ l.date }}</td>
            <td style="background-color:#E44C4C">{{ l.hour }}</td>
            <td style="background-color:#E44C4C">{{ l.description }}</td>
        </tr>

        {%elif 'Saved' in l.description or 'saved' in l.description %}
        <tr>
            <td style="background-color:#836FFF"> {{ l.date }}</td>
            <td style="background-color:#836FFF">{{ l.hour }}</td>
            <td style="background-color:#836FFF">{{ l.description }}</td>
        </tr>

        {% else %}
        <tr>
            <td style="background-color:#9da799">{{ l.date }}</td>
            <td style="background-color:#9da799">{{ l.hour }}</td>
            <td style="background-color:#9da799">{{ l.description }}</td>
        </tr>
        {% endif %}
        {%  endfor %}
    </tbody>
</table>


{% endblock %}



