{% extends 'template.html' %}

{% block body %}

<table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Hour</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    {% for l in list_log %}
    {% if 'Read' in l.description%}
      <tr> 
            <td style="background-color:#72b868">{{ l.date }}</td>
            <td style="background-color:#72b868">{{ l.hour }}</td>
            <td style="background-color:#72b868">{{ l.description }}</td>
      </tr>
      {% else %}
        <tr>
            <td style="background-color:#9da799">{{ l.date }}</td>
            <td style="background-color:#9da799">{{ l.hour }}</td>
            <td style="background-color:#9da799">{{ l.description }}</td>
      </tr>
    {% endif %}
    {%  endfor %}
    </tbody>
</table>


{% endblock %}



