{% extends 'template.html' %}

{% block body %}

<table>    
  <tr>
    <th>Nome</th>
    <th>Descricao</th>
    <th>Acoes</th>  
  </tr>
{% for i in lista %}
  <tr>
      <td>{{i.name_mkt}} </td>
      <td>{{i.description}} </td>
      <td>
          <button class="btn_del" onclick="location.href='/delete_marketplace?id={{i.id}}'">Deletar</button>
          <button class="btn_up" onclick="location.href='/update_marketplace?id={{i.id}}&name={{i.name_mkt}}&desc={{i.description}}'">Update</button>
      </td>
   </tr>
  {%  endfor %}
</table>


{% endblock %}